# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
storybook
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage/
dist/
showcase/
storybook/
!src/showcase
storybook-static
report-eslint.html
report-stylelint.txt
report-commitlint.txt
junit.xml
report-markdownlint.txt
